*{
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#map-container {
    position: relative;
}

#map {
    height: 100vh;
}

#search-container {
    position: absolute;
    z-index: 314159;
    top: 5px;
    left: 5px;
}

.bg-light {
    background-color: rgba(255,255,255,0.6)!important;
    padding: 0;
}

#search-btn {
    margin-left: 5px;
    margin-bottom: 2px;
}