@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: none;
    margin: none;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    background-color: #030303;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: #030303;
}

a:hover {
    color: #4c8f77;
}

#CTA-btn {
    border: 1px solid #030303;
    border-radius: 0.75rem;
    padding: 1vh 3vh;
    transition: all 0.3s ease-in-out;
}

#CTA-btn:hover {
    color: whitesmoke;
    background: #4c8f77;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax-group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    inset: 0;
}

.bg {
    background: url('../images/wrapper/bg.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-650px) scale(3.5);
    z-index: 1;
}

.landscape {
    background: url('../images/wrapper/landscape.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-420px) scale(2.5);
    z-index: 2;
}

.person {
    background: url('../images/wrapper/person.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-100px) scale(1.75);
    
    z-index: 3;
}

.hero-text {
    background-size: cover;
    transform: translateZ(0), scale(1);
    z-index: 4;
}

.hero-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    color: #030303;
}

.hero-text h3 {
    font-size: 08rem;
    letter-spacing: 1rem;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: (-25%, -25%);
    cursor:default;
    color: #030303;
}

.hero-text ul {
    font-size: 0.75rem;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
}

.hero-text ul li {
    margin-left: 2.5rem;
    list-style-type: none;
    display: inline-block;
    /* visibility: hidden; */
}

.social-container {
    position: absolute;
    right: 4rem;
    bottom: 2.5rem;
}

.social-container a {
    color: whitesmoke;
}

.social-container a:hover {
    color: #4c8f77;
}

.social-container i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.content-container {
    position: absolute;
    height: 40%;
    width: 100%;
    background: #030303;
    min-height: 180vh;
    z-index: 6;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.content img {
    height: 25vh;
    width: 25vh;
    object-fit: cover;
}

.hike-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.hike-content img {
    margin-top: 40%;
}

.hike-content h3 {
    margin-top: 5%;
    font-size: 24px;
    font-weight: 700;
}

.hike-content span {
    font-size: 16px;
    font-weight: 400;
    padding: 25px;
}

.culture-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.culture-content img{
    object-position: 0 0%;
    margin-top: 05%;
}

.culture-content h3 {
    font-weight: 700;
    font-size: 24px;
}

.culture-content span {
    font-size: 16px;
    font-weight: 400;
    padding: 25px;
}

#map-container {
    margin-right: 40px;
    margin-bottom: 20px;
}

.map-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.map-content h1 {
    padding-top: 20px;
    font-weight: 700;
}

.map-content p {
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 400;
}

#map {
    position: relative;
    height: 100vh;
    width: 100%;
}

#sidebar {
    position: absolute;
    z-index: 314158;
    width: 300px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    left: -300px;
    transition: .4s;
    cursor: default;
    overflow-y: auto;
}

#sidebar.active {
    left:0;
}

.toggle-btn {
    position: absolute;
    z-index: 314158;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid #666666;
    border-radius: 5px;
}

.toggle-btn.active {
    left: 310px;
}

.toggle-btn span {
    z-index: 314158;
    width: 40px;
    height: 5px;
    background-color: #333;
    display: block;
    margin: 5px;
}

#search-input {
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 180px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #e1fff5 !important;
}

#search-btn {
    border: 1px solid #666666;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e1fff5;
    transition: .2s ease-in-out;
}

#search-btn:hover {
    background-color: #6DCC93;
    transition: .2s ease-in-out;
}

#search-results {
    cursor:pointer;
}

.search-result {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #666666;
    margin-left: 10px;
    margin-right: 10px;
    color: #030303;
}

.search-result p {
    margin-left: 20px;
    margin-bottom: 6px;
}

.image-result {
    margin: 10px;
    margin-left: 30px;
}

.leaflet-panel-layers-group.collapsible:not(.expanded) {
    height: 20px;
    box-sizing: unset;
    padding-inline: initial;
    color: #030303;
}

.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
    margin-bottom: 4px;
    padding: 2px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-sizing: unset;
    padding-inline: initial;
    color: #030303;
}

.leaflet-panel-layers-group {
    padding: 2px 4px;
    margin-bottom: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.6);
    border-radius: 3px;
    color: #030303;
}

.contact-container {
    padding: 20px 100px;
    border-top: 1px solid whitesmoke;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top: 1px solid whitesmoke;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.contact-container h4 {
    margin-top: 10px;
    font-weight: 700;
}

.survey {
    display: flex;
    flex-direction: column;
}

#submit-btn {
    margin-top: 10px;
    background-color: #e1fff5;
    color: #030303;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .2s ease-in-out;
}

#submit-btn:hover {
    background-color: #4c8f77;
    color: white;
    transition: .2s ease-in-out;
}

#error {
    background-color: tomato;
    color: maroon;
    font-size: 12px;
    padding-top: 2px;
}

#radio-error {
    background-color: tomato;
    color: maroon;
    font-size: 12px;
    padding-top: 2px;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid whitesmoke;
    padding-top: 1rem;
}
.footer ul li {
    list-style-type: none;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    display: inline-block;
}

.footer ul li i {
    color: whitesmoke;
    font-size: 1.5rem;
}

.footer ul li i:hover{
    color:#4c8f77;
}

@media screen and (max-width:1024px) {
    .hero-text h2 {
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        left: 2rem;
    }

    .hero-text h3 {
        font-size: 3rem;
        top: 45%;
        left: 30%;
        transform: (-45%,-30%);
    }

    .hero-text ul {
        right: 1rem;
        top: 2rem;
    }

    .hero-text ul li {
        margin-left: 0.8rem;
    }

    .social-container {
        right: 1rem;
    }

    .social-container i {
        font-size: 2rem;
        margin-right: 1.5rem;
    }

    .content {
    display: initial;
    }

    .content img {
        height: 40vh;
        width: 40vh;
    }
    
    .hike-content img {
        margin-top: 10%;
    }

    .hike-content h3 {
        font-size: 42px;
        margin-top: 3%;
    }

    .hike-content span {
        border-bottom: 1px solid whitesmoke;
        font-size: 26px;
        padding: 25px 50px 25px 50px;
    }

    #map-container {
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .map-content {
        margin-bottom: 10px;
    }
    
    .map-content h1 {
        font-size: 42px;
        font-weight: 700;
    }

    .map-content p {
        font-size: 26px;
    }

    #map {
        height: 70vh;
    }

    .contact-container {
        padding: 20px 10px 20px 10px;
    }

    .content-container {
        min-height: 220vh;
    }
}

@media screen and (max-width:480px) {
    .hero-text h2 {
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        left: 2rem;
    }

    .hero-text h3 {
        font-size: 2rem;
        top: 45%;
        left: 20%;
    }

    .hero-text ul {
        right: 1rem;
        top: 2rem;
    }

    .hero-text ul li {
        margin-left: 0rem;
        visibility: hidden;
    }

    #CTA-btn {
        visibility: visible;
    }

    .social-container {
        right: 1rem;
    }

    .social-container i {
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }

    .content {
    display: initial;
    }
    
    .hike-content h3 {
        font-size: 30px;
    }

    .hike-content img {
        margin-top: 20%;
    }

    .hike-content span {
        border-bottom: 1px solid whitesmoke;
        font-size: 18px;
        padding-bottom: 30px;
    }

    .map-content {
        margin-bottom: 10px;
    }

    .map-content h1 {
        font-size: 30px;
    }

    .map-content p {
        font-size: 18px;
    }

    #map {
        height: 70vh;
    }

    .contact-container {
        padding: 20px 10px 20px 10px;
    }

    .contact-form ::placeholder {
        font-size: 12px;
    }

    .content-container {
        min-height: 220vh;
    }

    .footer ul li i {
        font-size: 1.5rem;
    }
}

