@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@font-face {
    font-family: sans-serif;
    src: url(../fonts/NotoSans-Regular.ttf);
    src: url(../fonts/NotoSans-Bold.ttf);
}

*{
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#map-container {
    position: relative;
}

#map {
    height: 100vh;
}

#sidebar {
    position: absolute;
    z-index: 314158;
    width: 300px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    left: -300px;
    transition: .4s;
    cursor: default;
    overflow-y: auto;
}

#sidebar.active {
    left:0;
}

.toggle-btn {
    position: absolute;
    z-index: 314158;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid #666666;
    border-radius: 5px;
}

.toggle-btn.active {
    left: 310px;
}

.toggle-btn span {
    z-index: 314158;
    width: 40px;
    height: 5px;
    background-color: #333;
    display: block;
    margin: 5px;
}

#search-input {
    font-family: 'Noto Sans', sans-serif;
    margin: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 180px;
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: #e1fff5 !important;
}

#search-btn {
    border: 1px solid #666666;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e1fff5;
    transition: .2s ease-in-out;
}

#search-btn:hover {
    background-color: #6DCC93;
    transition: .2s ease-in-out;
}

#search-results {
    cursor:pointer;
}

.search-result {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #666666;
    margin-left: 10px;
    margin-right: 10px;
}

.search-result p {
    margin-left: 20px;
    margin-bottom: 6px;
}

.image-result {
    margin: 10px;
    margin-left: 30px;
}

